name: Pro Trend Publisher Bot

on:
  schedule:
    # سيقوم بالعمل كل 6 ساعات (4 مرات في اليوم)
    - cron: '0 */6 * * *'
  workflow_dispatch: # يتيح لك تشغيله يدوياً متى شئت

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Libraries
        run: |
          python -m pip install --upgrade pip
          pip install -q -U google-generativeai

      - name: Run Global Trend Bot
        env:
          GEMINI_KEY: ${{ secrets.GEMINI_KEY }}
          MY_EMAIL: ${{ secrets.MY_EMAIL }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
        run: python bot.py
