name: Blogger Auto Bot
on:
  schedule:
    - cron: '0 */3 * * *' # ينشر تلقائياً كل 3 ساعات
  workflow_dispatch: # يضيف زر التشغيل اليدوي

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -q -U google-generativeai

      - name: Run Bot
        env:
          GEMINI_KEY: ${{ secrets.GEMINI_KEY }}
          MY_EMAIL: ${{ secrets.MY_EMAIL }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
        run: python bot.py
